body{
    background-color: blanchedalmond;
    background-image: linear-gradient(rgb(228, 218, 202), rgb(239, 201, 193));
}

nav{
    background-color:rgb(237, 222, 202);
}
.card-img-top {
    max-width: 20%;
    height: auto;
}
.btn {
    margin-top: 10px;
}

.product-info { 
    background-color: rgb(210, 191, 191);
    margin-top: 4rem;
}

.product-info .card {
    margin-top: 10px;
}

input:invalid {
    background-color: ivory;
    border: none;
    outline: 2px solid red;
    border-radius: 5px;
  }

