body{
    background-color: blanchedalmond
}

nav{
    background-color:rgb(237, 222, 202);
}
.card-img-top {
    max-width: 20%;
    height: auto;
}
.btn {
    margin-top: 10px;
}

.product-info { 
    background-color: lightgray;
}

.product-info .card {
    margin-top: 10px;
}

input:invalid {
    background-color: ivory;
    border: none;
    outline: 2px solid red;
    border-radius: 5px;
  }

